<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AirBNB - Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Helvetica+Neue" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<header>
    <h1>AirBNL</h1>
</header>

<div class="search-results">
    <h2>Search Results</h2>
    <h3 th:text="${countryName}"></h3>
    <h4 th:text="${roomType.getName()}"></h4>
    <ul>
        <li th:each="room : ${rooms}">
            <h3 th:text="${room.number}"></h3>
            <p>Cost: <span th:text="${roomType.getPrice()}"></span></p>
            <p>Number of Beds: <span th:text="${room.bedCount}"></span></p>
            <form th:action="@{/reserve}" method="post">
                <input type="hidden" th:name="roomId" th:value="${room.id}"/>
                <input type="hidden" th:name="roomTypeId" th:value="${room.getTypeId()}"/>
                <button type="submit">Reserve</button>
            </form>
        </li>
    </ul>
</div>

<footer>
    <p>&copy; 2023 AirBNL</p>
</footer>
</body>
</html>
